<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Restaurant App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
    <script src="https://kit.fontawesome.com/b8991598b2.js"></script>
</head>
<body>
<header class="header">
    <div class="header__logo"><a href="/">Restaurant App</a></div>
    <div class="cart">
        <div class="cart__logo">
            <i class="fa fa-shopping-bag" aria-hidden="true"></i>
        </div>
        <div class="cart__count"></div>
    </div>
    <div id="header_menu" class="header__menu" ></div>
</header>

<div class="wrapper">
    <div class="content" id="content"></div>
    <div class="cart-menu">
        <div class="cart__container"></div>
        <button class="btn btn-primary" id="orderButton">Order</button>
    </div>
</div>

<div class="pagination" id="pagination"></div>

<script src="scripts/MainScript.js"></script>
<script src="scripts/OrderScript.js"></script>
</body>
</html>