<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet" href="styles.css">
    <script src="scripts/signupScript.js"></script>
</head>
<body>
<header class="header">
    <div class="header__logo"><a href="/">Restaurant App</a></div>
</header>

<div class="log_reg-wrapper">
    <div class="log_reg-form">
        <div class="log_reg-form__element">
            <label id="label-username"></label>
            <input id="username" type="text" placeholder="username">
        </div>

        <div class="log_reg-form__element">
            <label id="label-email"></label>
            <input id="email" type="text" placeholder="e-mail">
        </div>

        <div class="log_reg-form__element">
            <label id="label-phone"></label>
            <input id="phone" type="tel" placeholder="phone number">
        </div>

        <div class="log_reg-form__element">
            <label id="label-password"></label>
            <input id="password" type="password" placeholder="password">
        </div>

        <div class="log_reg-form__element">
            <label></label>
            <input id="submitPassword" type="password" placeholder="submit password">
        </div>

        <div class="log_reg-form__element">
            <label></label>
            <input type="submit" onclick="Register()" value="Sign up">
        </div>
    </div>
    <div class="log_reg__result" id="result"></div>
</div>
</body>
</html>